.password-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2px;
  border: 1px solid #ffffff;
  background-color: transparent;
  padding: 10px;
  min-width: 250px;
  min-height: 50px;
  list-style-type: none;
  margin: 10px;
}

.website-name-logo {
  background-color: #10b981;
  text-align: center;
  border: 1px solid #10b981;
  border-radius: 40px;
  font-family: 'Roboto';
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  margin: 3px;
}

.password-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 3px;
}

.website-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
}

.username {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  margin-top: -10px;
}

.password {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  margin-top: -10px;
}

.delete-img {
  height: 20px;
  width: 20px;
  margin: 10px;
}

.delete-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-color: transparent;
}

.stars-img {
  height: 17px;
  width: 90px;
  margin-top: -10px;
}
